#logo {
	width: 300px;
}

.Icon {
	width: 200px;
	border-radius: 20px;
}

a .Icon {
	cursor: pointer;
}

img.button {
	width: 120px;
	border-radius: 5px;
}

img.button:hover {
	box-shadow: 0px 0px 5px black;
}

.navbar-brand {
	font-size: 13px;
}
